html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: inherit;
}

body {
    background-color: rgb(3, 2, 22);
}

main {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .info-container {
        padding: 2.5rem;
        border-radius: 2rem;
        font-size: 1.75rem;
        background-color: white;
        
        @media (min-width: 370px) {
            font-size: 2.25em;
        }
        @media (min-width: 480px) {
            font-size: 2.75em;
        }
        
        @media (min-width: 768px) {
            font-size: 3.25em;
        }
        @media (min-width: 1000px) {
            font-size: 3.5em;   
        }
    }
        #timezone {
            font-size: 0.5em;
            color: grey;
        }
        #time {
            font-size: 2em;
        }
        #weekday {
            color: rgb(79, 79, 255);
        }
        #weekday, 
        #date {
            font-size: 0.5em;
        }

.invisible {
    display: none;
}

.open-modal {
    background: none;
    border: none;
    align-self: center;
}
    .open-modal:hover {
        cursor: pointer;
    }

.modal {
    font-size: 1.15rem;
    margin: 40vh auto 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}   
    .modal-header-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
        #x-button {
            background: red;
            color: white;
            padding: 0.3rem 0.5rem;
            height: 50%;
            align-self: center;
            border: 1px solid black;
            border-radius: 1rem;
        }
    select {
        padding: 0.5rem;
        font-size: 1.25rem;
    }
    .close-modal {
        padding: 0.5rem;
        font-size: 1.25rem;
    }
#timezone-flex {
    display: flex;
    gap: 0.5rem;
    padding: 0.1rem;
}